@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sponte</h1>
    <p class="lead">Somos a maior referência em software de gestão educacional com a missão de transformar a educação a partir de soluções inteligentes e inovadoras..</p>
    <p><a href="https://www.sponte.com.br/" class="btn btn-primary btn-lg">Conheça mais de nossa empressa &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Novos Inscritos</h2>
        <p>
            Se ainda não se cadastrou aproveite agora e faça sua inscrição.
        </p>
        <p><a class="btn btn-default" href="~/Inscritos/Create">Cadastre-se. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instrutores</h2>
        <p>Você que deseja ser instrutor de uma de nossas lives essa é a sua oportunidade.</p>
        <p><a class="btn btn-default" href="~/Instrutores/Create">Cadastre-se &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lives</h2>
        <p>Você que ja é nosso instrutor cadastre agora mesmo sua live.</p>
        <p><a class="btn btn-default" href="~/Lives/Create">Aproveite &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inscrições</h2>
        <p>Já é inscrito? Aproveito e se inscreva para alguma live disponível.</p>
        <p><a class="btn btn-default" href="~/Inscricoes/Create">Saiba mais &raquo;</a></p>
    </div>
</div>